html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
    font-family: Droid Sans, sans-serif;
}

h1 {
    text-align: center;
}

h1, h2, h3, h4 {
    color: rgb(40, 40, 40);
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    box-shadow: inset 0px 10px 10px -10px #222;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
}

footer  .bbsSocialLinks {
    position: relative;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

footer  .bbsSocialLinks > a {
    display: block;
}

.bbsPageHost {
    height: 100%;
}

.bbsContainer {
    position: relative;
    width: 80%;
    min-height: 100%;
    margin: auto;
    padding: 20px 32px;
    box-shadow: 0px 0px 8px rgb(100, 100, 100);
    padding-bottom: 132px;
    background-color: rgba(220, 220, 220, 0.5);
}

.bbsContainer  a {
    text-decoration: none;
    color: initial;
}

.bbsProfilePicture {
    width: 300px;
    height: 300px;
    background-image: url(img/profile.png);
    background-size: cover;
    margin: auto;
    border-radius: 100%;
}

.bbsFlashMessage {
    width: 100%;
    padding: 4px 16px;
    border-bottom: 2px solid #666;
}

.bbsFlashInfo {
    background-color: #8BC34A;
}

.bbsFlashWarn {
    background-color: #FFC107;
}

.bbsFlashError {
    background-color: #FF5722;
}

.bbsFullHeight {
    height: 100%;
}

.bbsArticlePost  h1 {
    text-align: left;
    font-size: 2em;
}

.bbsDashboardPostAbstractContainer {
    margin: auto;
    margin-top: 50px;
    padding: 4px 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
}

.bbsDashboardPostAbstractContainer:hover {
    box-shadow: 1px 1px 8px;
}

.bbsDashboardPostAbstractContainer > .bbsDashboardPostAbstractTitle {
    border-bottom: 1px solid rgb(200, 200, 200);
}

.bbsDashboardPostAbstractContainer > .bbsDashboardPostAbstract {
    padding-top: 16px;
    padding-bottom: 16px;
}

.bbsLoginContainer {
    width: 70%;
    min-width: 500px;
    padding: 16px;
    margin: auto;
    border: 2px solid #CCC;
    background-color: #FAFAFA;
}

.bbsLoginContainer  input {
    display: block;
    padding: 4px 8px;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.bbsLoginContainer  button {
    background-color: #FFF;
    border-style: none;
    border-radius: 2px;
    padding: 6px 12px;
    box-shadow: 1px 1px 4px #AAA;
    cursor: pointer;
    font-weight: bold;
}

.bbsLoginContainer  button:hover {
    box-shadow: 1px 1px 10px #AAA;
}

.bbsLoginPostTable {
    border-collapse: collapse;
}

.bbsLoginPostTable  th {
    cursor: pointer;
    user-select: none;
}

.bbsLoginPostTable  tr:hover {
    background-color: #ccc;
}

.bbsLoginPostTable  td {
    padding: 4px 16px;
}

.bbsLoginPostTable  td:first-child > i {
    cursor: pointer;
}
